<connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\sqlexpress;initial catalog=ta_chat;persist security info=True;user id=ta_live_dbu;password=xm36kfk;multipleactiveresultsets=True;"
         providerName="System.Data.SqlClient" />

    <!--<add name="ModelEntities" connectionString="metadata=res://*/JabbRContext.ModelEntity.csdl|res://*/JabbRContext.ModelEntity.ssdl|res://*/JabbRContext.ModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HIT000002;initial catalog=ta_chat;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->

    <add name="JabbrContext" connectionString="metadata=res://*/Models.ModelEntity.csdl|res://*/Models.ModelEntity.ssdl|res://*/Models.ModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ta_chat;persist security info=True;user id=ta_live_dbu;password=xm36kfk;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
</connectionStrings>